*{
    font-family: 'Roboto Mono', monospace;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10%;
}

#themeButton{
    width: 50px;
    margin-bottom: 40px;
    padding: 5px;
    width: 200px;
    border: none;
    background-color: #BEF0CB;
}

#themeButton:active{
   color: #BEF0CB;
   background-color: #18181b;
}

.lorem{
    width: 700px;
}

.dark{
    color: #fefefe;
    background-color: #18181b;
}